@font-face {
  font-family: "Trebuchet MS Custom";
  src: url("/fonts/trebuchet-ms.woff2") format("woff2"),
    url("/fonts/trebuchet-ms.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Trebuchet MS Custom", "Trebuchet MS", Helvetica, Arial,
    sans-serif;
}
