.logout-button {
  padding: var(--button-padding);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration) var(--transition-ease),
    color var(--transition-duration) var(--transition-ease);
  box-shadow: 0 4px 12px var(--button-background);
}

.logout-button:hover {
  color: var(--button-hover-text-color);
  box-shadow: 0 6px 20px var(--button-hover-background);
}
